# Recommender

## Описание
Рекомендательная система для студентов, которая предлагает учебные материалы на основе интересов. Сделано как творческое задание по ИтИС.

## Установка
```bash
pip install -r requirements.txt
