name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - run: black src/  # Автоматически исправим файлы
      - run: black --check src/  # Проверка соответствия стилю Black
      - run: pytest tests/ -v
      - run: flake8 src/